<nav>
    <ul>
        <% if (Array.isArray(categories)) { %>
            <% categories.forEach(c=> { %>
                <li><a href="/<%= c %>">
                    <button class="<%= c %>">
                        <%= c.toUpperCase() %>
                    </button>
                </a></li>
            <% }); %>
        <% } %>
    </ul>
</nav>