<h1>404 Not Found</h1>
<p>Category '<%= category %>' does not exist. </p>
<p><a href="/" style="display: inline-block; padding: 2px 4px; border-radius: 4px; background-color: #999; color: #000; text-decoration: none; cursor: pointer;">Click here</a> to go back to the home page.</p>