<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link id="category" rel="stylesheet" type="text/css" href="">
    <title>Soundboard</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div class="grid">
            <!-- Buttons will be generated here -->
        </div>
        <script async defer>
            function toggleAudio(audioPath) {
                const audio = new Audio(audioPath);
                if (audio.paused) {
                    audio.play();
                } else {
                    audio.pause();
                    audio.currentTime = 0;
                }
            }
            document.addEventListener('DOMContentLoaded', function () {
                const __category = '<%= category %>';

                document.getElementById('category').setAttribute('href', `/styles/${__category}.css`);

                fetch('http://localhost:3000/api?category=' + __category)
                    .then(res => res.json())
                    .then(sounds => {
                        sounds[__category].forEach(s => {
                            const button = document.createElement('button');
                            button.appendChild(document.createTextNode(s.name));
                            button.classList.add('sound-button');
                            button.setAttribute('data-audio-path', s.path);
                            document.querySelector('.grid').appendChild(button);
                        });
                    })
                    .catch(err => console.error('Error fetching sounds:', err));

                var soundButtons = document.querySelectorAll('.sound-button');
                soundButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var audioPath = this.dataset.audioPath;
                        var audio = new Audio(audioPath);
                        audio.play();
                        console.log(audioPath);
                    });
                });
            });
        </script>
</body>

</html>