<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link id="category" rel="stylesheet" type="text/css" href="">
    <title>Soundboard</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div class="grid">
            
        <!--
            <% sounds[category].forEach(s=> { %>
                <button class="sound-button" data-audio-path="<%= s.path %>">
                    <%= s.name %>
                </button>
            <% }) %>
        -->
        </div>
        <script async defer>
            function toggleAudio(path) {
                var audio = new Audio(path);
                audio.addEventListener('error', function (e) {
                    console.error('Failed to load audio file:', path);
                });
                audio.addEventListener('ended', function (e) {
                    audio = null;
                });
                audio.play();
            }
            document.addEventListener('DOMContentLoaded', function () {
                const __category = '<%= category %>';

                // Set style with the category
                document.getElementById('category').setAttribute('href', `/styles/${__category}.css`);

                // Generate buttons in grid
                fetch('http://localhost:3000/api?category=' + __category)
                    .then(res => res.json())
                    .then(sounds => {
                        console.log(sounds[__category]);
                        sounds[__category].forEach(s => {
                            const button = document.createElement('button');
                            button.appendChild(document.createTextNode(s.name));
                            button.classList.add('sound-button');
                            button.setAttribute('data-audio-path', s.path);
                            document.querySelector('.grid').appendChild(button);
                        });
                    })
                    .catch(err => console.error('Error fetching sounds:', err));

                // Add click event listeners to all sound buttons
                var soundButtons = document.querySelectorAll('.sound-button');
                soundButtons.forEach(function (button) {
                    button.addEventListener('click', function () {
                        var audioPath = this.dataset.audioPath;
                        const loc = window.location
                        console.log(`${loc.protocol}//${loc.host}${audioPath.replace(/\\/g, '/')}`);
                        toggleAudio(`${loc.protocol}//${loc.host}${audioPath.replace(/\\/g, '/')}`);
                    });
                });
            });
        </script>
    </body>

</html>