:root * {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 1000;
    font-family: Tahoma;
}

a {
    color: inherit;
}

body {
    background-color: var(--background-color);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: 100vh;
    overflow-x: hidden;
}

ul {
    padding-left: 0;
}

nav {
    margin: 0;
    position: fixed;
    border-right: 2px solid var(--base-color);
    left: 0;
    top: 0;
    height: 100vh;
    width: 15vw;
}

nav li {
    list-style-type: none;
    margin: 0 1em;
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

nav button {
    background-color: var(--nav-color);
    border-radius: 1px;
    border-width: 4px;
    height: 3em;
    width: 100%;
}

.small {
    margin: 1em;
}

.grid {
    padding: 0 2em;
    top: 1.5em;
    display: flex;
    flex-wrap: wrap;
}

.sound-button {
    background-color: var(--base-color);
    border-color: var(--base-color);
    border-radius: 4px;
    border-width: 4px;
    color: var(--text-color);
    margin: 0.5em;
    /* margin: 4px 2px; */
    cursor: pointer;
    height: 5em;
    width: 12em;
    transition: filter 0.25s ease;
}

button:hover {
    filter: brightness(1.4);
}

.download-menu {
    position: fixed;
    display: none;
    z-index: 1000;
    width: max-content;
    height: max-content;
    padding: 1em;
    background-color: var(--background-color);
    border: 2px solid var(--base-color);
}

.badboyhalo {
    --base-color: #ee7171;
    --text-color: #580505;
    --background-color: #b50909;
    --nav-color: #eb0c0c;
    border-color: hsl(0, 90%, 80%);
    color: hsl(0, 0%, 0%);
}

.dream {
    --base-color: #B9EBA4;
    --text-color: #28441c;
    --background-color: #556B4B;
    --nav-color: #8AEE5F;
    border-color: hsl(120, 90%, 80%);
    color: hsl(0, 0%, 0%);
}

.georgenotfound {
    --base-color: #88E0EE;
    --text-color: #154850;
    --background-color: #3D656B;
    --nav-color: #32A7B8;
    border-color: hsl(216, 90%, 80%);
    color: hsl(0, 0%, 0%);
}

.ishowspeed {
    background-color: hsl(0, 0%, 5%);
    border-color: hsl(0, 0%, 20%);
    color: hsl(0, 100%, 50%);
}

.ksi {
    background-color: hsl(0, 0%, 5%);
    border-color: hsl(0, 0%, 20%);
    color: hsl(0, 100%, 50%);
}

.sapnap {
    --base-color: #e7863b;
    --text-color: hsl(0, 0%, 100%);
    --background-color: #a75a20;
    --nav-color: #CF5D06;
    border-color: hsl(24, 10%, 70%);
    color: hsl(0, 0%, 90%);
}

.skeppy {
    background-color: hsl(180, 70%, 40%);
    border-color: hsl(180, 50%, 80%);
    color: hsl(0, 0%, 0%);
}

.technoblade {
    background-color: hsl(325, 100%, 75%);
    border-color: hsl(300, 100%, 90%);
    color: hsl(0, 0%, 100%);
}