:root {
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    margin: auto;
}

ul {
    padding-left: 0;
}

nav li {
    display: inline-block;
}

nav button {
    border-radius: 4px;
    border-width: 4px;
    font-weight: 1000;
    font-size: 8px;
    padding: 8px 8px;
    height: 4em;
    width: 16em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: auto;
  }

button {
    background-color: var(--base-color);
    border-color: var(--base-color);
    border-radius: 4px;
    border-width: 4px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 1000;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    height: 5em;
    width: 12em;
    transition: filter 0.25s ease;
}

button:hover {
    filter: brightness(1.4);
}

.badboyhalo {
    background-color: hsl(0, 100%, 50%);
    border-color: hsl(0, 90%, 80%);
    color: hsl(0, 100%, 13%);
}

.dream {
    background-color: hsl(132, 100%, 50%);
    border-color: hsl(120, 90%, 80%);
    color: hsl(120, 100%, 13%);
}

.georgenotfound {
    background-color: hsl(208, 100%, 50%);
    border-color: hsl(216, 90%, 80%);
    color: hsl(195, 100%, 13%);
}

.ksi {
    background-color: hsl(0, 0%, 5%);
    border-color: hsl(0, 0%, 20%);
    color: hsl(0, 100%, 50%);
}

.sapnap {
    background-color: hsl(32, 100%, 50%);
    border-color: hsl(24, 10%, 70%);
    color: hsl(0, 0%, 90%);
}

.skeppy {
    background-color: hsl(180, 70%, 40%);
    border-color: hsl(180, 50%, 80%);
    color: hsl(0, 0%, 10%);
}

.technoblade {
    background-color: hsl(325, 100%, 75%);
    border-color: hsl(300, 100%, 90%);
    color: hsl(0, 0%, 90%);
}