:root * {
    margin: 0;
    font-weight: 1000;
    font-family: Tahoma;
    letter-spacing: 0.5px;
}

a {
    color: inherit;
}

body {
    background-color: var(--background-color);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
}

main {
    position:relative;
    left: 20vw;
    width: 80vw;
    max-width: 1200px;
}

ul {
    padding-left: 0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 20vw;
    min-width: 10rem;
    border-right: 2px solid var(--base-color);
    background-color: var(--background-color);
}

nav li {
    list-style-type: none;
    margin: 0 1em;
    padding: 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

button {
    font-size: 14px;
}

button:hover {
    filter: brightness(1.4);
}

nav button {
    background-color: var(--nav-color);
    border-radius: 1px;
    border-width: 4px;
    height: 3em;
    width: 100%;
}

#nav-mini {
    display: none;
    justify-content: flex-end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 900;
    height: 3em;
    width: 100vw;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--base-color);
}

.hamburger img {
    height: 3em;
    width: 3em;
}

.small {
    margin: 1em;
}

#grid {
    padding: 0 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sound-button {
    background-color: var(--base-color);
    border-color: var(--base-color);
    border-radius: 4px;
    border-width: 4px;
    color: var(--text-color);
    margin: 0.5em;
    cursor: pointer;
    height: 5rem;
    width: 12rem;
    transition: filter 0.25s ease;
}


#context-menu {
    position: fixed;
    display: none;
    z-index: 1000;
    width: max-content;
    height: max-content;
    font-size: 12px;
}

.menu-option {
    background-color: var(--base-color);
    text-align: left;
    padding: 2px;
    border: var(--background-color) 2px solid;
    cursor: pointer;
}

.menu-option:hover {
    filter: brightness(1.4);
}

@media (width < 80em) {
    #grid {
        padding: 1em;
    }
    button {
        font-size: 10px;
    }
    .sound-button {
        height: 3.75rem;
        width: 9rem;
    }
}

@media (width < 40em) {
    nav {
        display: none;
    }
    #nav-mini {
        display: flex;
    }
    main {
        top: 4em;
        left: 0;
        width: 100vw;
    }
}

.badboyhalo {
    --base-color: #ee7171;
    --text-color: #580505;
    --background-color: #b50909;
    --nav-color: #eb0c0c;
    border-color: hsl(0, 90%, 80%);
    color: hsl(0, 0%, 0%);
}

.dream {
    --base-color: #B9EBA4;
    --text-color: #28441c;
    --background-color: #556B4B;
    --nav-color: #8AEE5F;
    border-color: hsl(120, 90%, 80%);
    color: hsl(0, 0%, 0%);
}

.georgenotfound {
    --base-color: #88E0EE;
    --text-color: #154850;
    --background-color: #3D656B;
    --nav-color: #32A7B8;
    border-color: hsl(216, 90%, 80%);
    color: hsl(0, 0%, 0%);
}

.ishowspeed {
    background-color: hsl(0, 0%, 5%);
    border-color: hsl(0, 0%, 20%);
    color: hsl(0, 100%, 50%);
}

.ksi {
    background-color: hsl(0, 0%, 5%);
    border-color: hsl(0, 0%, 20%);
    color: hsl(0, 100%, 50%);
}

.sapnap {
    --base-color: #e7863b;
    --text-color: hsl(0, 0%, 100%);
    --background-color: #a75a20;
    --nav-color: #CF5D06;
    border-color: hsl(24, 10%, 70%);
    color: hsl(0, 0%, 90%);
}

.skeppy {
    --base-color: hsl(180, 50%, 60%);
    --text-color: hsl(0, 0%, 0%);
    --background-color: hsl(180, 70%, 40%);
    --nav-color: hsl(180, 70%, 40%);
    border-color: hsl(180, 50%, 80%);
}

.technoblade {
    background-color: hsl(325, 100%, 75%);
    border-color: hsl(300, 100%, 90%);
    color: hsl(0, 0%, 100%);
}